@font-face {
    font-family: "font-custom-elegant";
    src: url("../Assets/Custom Fonts/southam-demo/Southam Demo.otf"), format("otf");
}

@font-face {
    font-family: "font-custom-goldoni-magazine";
    src: url("../Assets/Custom Fonts/goldoni/goldoni_DEMO.otf"), format("otf");
}

@font-face {
    font-family: "font-custom-claire-amoreth";
    src: url("../Assets/Custom Fonts/claire-amoreth/ClaireAmoreth-Regular.otf"), format("otf");
}

@font-face {
    font-family: "font-custom-adequate";
    src: url("../Assets/Custom Fonts/adequate/Adequate-ExtraLight.ttf"), format("otf");
}

@font-face {
    font-family: "font-custom-rise-of-beauty";
    src: url("../Assets/Custom Fonts/rise-of-beauty/RiseofBeauty-Thin.otf"), format("otf");
}

:root {
    --width-project-detail-div: 75%;
    --border-radius-universal: 10px;
}

@media screen and (max-width:1000px) {
     :root {
        --width-project-detail-div: 100%;
    }
}

body {
    background-color: #212121;
    color: white;
}

.canvas-background {
    display: block;
    object-fit: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.1;
}

.h1-and-main-menu-div {
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    font-family: "font-custom-rise-of-beauty", sans-serif;
    font-weight: bolder;
    font-size: 3em;
    transition: margin-bottom 0.5s ease-in;
}

h2 {
    padding: 10px;
    font-family: "font-custom-rise-of-beauty", sans-serif;
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
    font-family: "font-custom-rise-of-beauty", sans-serif;
    font-weight: bolder;
}

p {
    font-family: "font-custom-adequate", sans-serif;
    font-size: 1em;
}

.buttons-div {
    position: relative;
    display: none;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
}

.category-button {
    opacity: 0;
    display: none;
    margin: 0 2em 1em 2em;
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    background-color: transparent;
    color: white;
    font-family: "font-custom-rise-of-beauty", sans-serif;
    font-size: 18px;
    transition: opacity 1s ease-in;
}

#menu-div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}

.btn {
    text-justify: center;
    margin-top: 0;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: "font-custom-rise-of-beauty", sans-serif;
}

.btn:hover {
    color: #ffe06f;
}

#main-page {
    text-justify: center;
    margin-top: 0;
    padding-left: 0;
    font-family: "font-custom-elegant", sans-serif;
    font-size: 24px;
}

#about-me {
    padding-right: 0;
    font-size: 13px;
}

#contact-me {
    font-size: 13px;
}

.main-menu-div {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.description-li {
    font-size: 0.7em;
}

.description-div {
    padding-left: 2em;
    padding-right: 2em;
}

.description-paragraph {
    font-size: 1em;
}


/*
.image-div:active{
    background: rgb(34,34,34);
    background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(138,138,138,1) 52%, rgba(164,164,164,0) 100%);
}
*/


/*
.buttons-div{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 1em;
    margin-right: 1em;
}
*/

.image-symbol {
    opacity: 1;
    position: absolute;
    height: 5em;
    width: auto;
    transition: transform 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.image-div {
    opacity: 1;
    visibility: visible;
    border: 0.5px solid white;
    border-radius: 10px 10px 10px 10px;
    background-color: #3a3a3a;
    height: 60vh;
    width: 26vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in;
    transition: visibility 1s, width 1s, opacity 1s ease-in;
    position: relative;
}

.image-div:hover .image-symbol {
    transform: scale(1.3);
}

.image-div:hover {
    transform: scale(1.05);
}

.placeholder-div {
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
}

.canvas-group {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    #load {
        /*#load is a hidden div, this div will be loaded before the canvas to make sure the font will be loaded when the canvas is loaded*/
        font-family: "font-custom-adequate";
        /* necessary to load font with div */
        visibility: hidden;
        /* makes div invisible but the div element forces the text to load before the canvas. */
        height: 0px;
    }
    @font-face {
        font-family: "font-custom-adequate";
        src: url("../Assets/Custom Fonts/adequate/Adequate-ExtraLight.ttf"), format("otf");
    }
}

@media screen and (max-width:500px) {
    .h1-and-main-menu-div {
        margin-top: 3em;
    }
    .category-button {
        font-size: 12px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 13px;
    }
    h3 {
        font-size: 12px;
        font-weight: 800;
    }
    p {
        font-size: 11px;
    }
    .main-menu-div {
        flex-direction: column;
        gap: 30px;
    }
    .image-div {
        height: 20vh;
        width: 80%;
    }
    .image-symbol {
        height: 3em;
        width: auto;
    }
}


/*----------------------------------------------------------------------------------*/


/*----------------------Styling Subpages of my Project page-------------------------*/


/*----------------------------------------------------------------------------------*/


/*styling ui arrow down image
it stays hidden, until the 
professional-career-entry gets hovered over
*/

.ui-arrow-down-img {
    margin-left: 0;
    width: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ui-arrow-up-img {
    margin-top: 20px;
    margin-left: 0;
    width: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.subpage-entry-div {
    border-radius: 10px 10px 10px 10px;
    background-color: #2a2a2a;
    font-family: "font-custom-adequate", sans-serif;
    margin: 1em;
    padding: 1em;
    justify-content: center;
}

.subpage-entry-div:hover {
    background-color: #2d2d2d;
}

.subpage-entry-div:hover .ui-arrow-down-img {
    opacity: 1;
}

.subpage-entry-div:hover h3 {
    color: #fcffa6;
}

.subpage-entry-div p {
    font-size: 12px;
}

.entry-detail-div {
    margin-left: auto;
    margin-right: auto;
    width: var(--width-project-detail-div);
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.project-img-div {
    border-radius: var(--border-radius-universal);
    background-color: #121212;
    width: var(--width-project-detail-div);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.project-img {
    padding: 5px;
    border-radius: var(--border-radius-universal);
    object-fit: cover;
}

.project-video {
    padding: 5px;
    border-radius: var(--border-radius-universal);
    margin-top: 20px;
    margin-bottom: 20px;
}


/*----------------------Styling Artwork Projects----------------------------*/

.artwork-img-div {
    border-radius: var(--border-radius-universal);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: var(--width-project-detail-div);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background-color: rgb(29, 29, 29);
}

.artwork-img-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.artwork-img {
    border-radius: var(--border-radius-universal);
    display: inline;
    position: relative;
    z-index: 1;
    transform: scale(1);
    background-color: rgb(54, 54, 54);
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
    align-items: center;
}

.artwork-img:hover {
    transform: scale(1.05);
    object-fit: scale-down;
}


/*this class is used to toggle between adding and removing certain set 
of css attributes from the HTML img element when the image is clicked*/

.artwork-img-click {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: scale-down;
    position: relative;
    width: 90%;
    height: 90%;
    /* Scale up and center */
}


/*
this class is used to toggle between adding and removing certain set 
of css attributes from the HTML img element when the image is not clicked
this class only works pairing with JS classList.toggle() method
*/

.artwork-img-non-click {
    display: none;
}

.description-a-tag {
    font-size: 12px;
    color: #ffe06f;
    padding-bottom: 10px;
}